/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

:root {
  --col-1: 51, 51, 51; /* rgb(51, 51, 51) = #333 */
  --col-2: 255, 255, 255; /* rgb(255, 255, 255) = #fff */
  --col-3: 102, 0, 255; /* rgb(102, 0, 255) = #6600ff */

  --background: rgba(var(--col-2), 1);
  --text: rgba(var(--col-1), 1);
  --text-hover: rgba(var(--col-3), 1);

  --arrow: rgba(var(--col-1), 0.3);
  --arrow-hover: rgba(var(--col-1), 1);
  --arrow-bg: rgba(var(--col-1), 0);
  --arrow-bg-hover: rgba(var(--col-1), 0);

  --categories: rgba(var(--col-2), 1);
  --categories-bg: rgba(var(--col-1), 0.5);

  --details: rgba(var(--col-1), 0.4);
  --details-hover: rgba(var(--col-3), 0.55);
}

/* Widget BgColor, Title */
.widget_mb-news_widget {
  padding: 5px 40px 100px 40px !important;
  background-color: #fff;
}
.widget_mb-news_widget .widget-title {
  color: #111 !important;
  margin-bottom: 44px;
}
.widget_mb-news_widget .mb-news {
  width: 100% !important;
  padding: 0 30px;
}
@media (max-width: 991px) {
  .widget_mb-news_widget .mb-news {
    padding: 0 8px;
  }
}

/* Carousel Arrows */
.widget_mb-news_widget .mb-news .slick-carousel .slick-next-custom,
.widget_mb-news_widget .mb-news .slick-carousel .slick-prev-custom {
  position: absolute;
  top: 40%;
  z-index: 99999;
  width: 45px;
  height: 85px;
  background: var(--arrow-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-next-custom:hover,
.widget_mb-news_widget .mb-news .slick-carousel .slick-prev-custom:hover {
  background: var(--arrow-bg-hover);
  transition: all 0.5s;
  cursor: pointer;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-next-custom {
  right: -40px;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-prev-custom {
  left: -40px;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-next-custom svg,
.widget_mb-news_widget .mb-news .slick-carousel .slick-prev-custom svg {
  fill: var(--arrow) !important;
  width: 40px;
  height: 40px;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-next-custom:hover svg,
.widget_mb-news_widget .mb-news .slick-carousel .slick-prev-custom:hover svg {
  fill: var(--arrow-hover) !important;
  transition: fill 0.5s;
}

/* Carousel Dots */
.widget_mb-news_widget .mb-news .slick-carousel .slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-dots {
  bottom: -40px !important;
}
.widget_mb-news_widget .mb-news .slick-carousel .slick-dots li button:before {
  color: var(--arrow-hover);
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .slick-dots
  li.slick-active
  button:before {
  opacity: 0.75;
  color: var(--arrow-hover);
}

/* Article */
.widget_mb-news_widget .mb-news .slick-carousel .mb-news-article {
  position: relative;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 20px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 13px 21px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: top ease 0.5s;
}
.widget_mb-news_widget .mb-news .slick-carousel .mb-news-article:focus {
  outline: none;
  outline-width: 0px;
}
.widget_mb-news_widget .mb-news .slick-carousel .mb-news-article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  filter: brightness(70%);
  transition: filter 0.5s ease-in-out;
}
.widget_mb-news_widget .mb-news .slick-carousel .mb-news-article:hover {
  top: -10px;
  cursor: pointer;
  background: var(--background);
  transition: all 0.5s;
}
.widget_mb-news_widget .mb-news .slick-carousel .mb-news-article:hover a img {
  filter: brightness(100%);
}

/* Categories */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-categories {
  position: absolute;
  top: 11px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-categories
  a.mb-news-article-categories-link {
  font-family: 'Prompt', sans-serif;
  font-size: 0.65rem;
  text-transform: uppercase;
  color: var(--categories);
  border-radius: 20px;
  background: var(--categories-bg);
  padding: 2px 8px;
  margin-bottom: 5px;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-categories
  a.mb-news-article-categories-link:last-of-type {
  margin-bottom: 0;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-categories
  a.mb-news-article-categories-link:hover {
  color: var(--text);
  cursor: pointer;
  background: var(--background);
  transition: all 0.8s;
}

/* Details (Date + Nb of omments container) */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-details {
  display: flex;
  font-family: 'Prompt', sans-serif;
  font-size: 0.7rem;
  color: var(--details);
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article:hover
  .mb-news-article-details {
  color: var(--details-hover);
  transition: color 0.5s;
}

/* Date */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-details
  .mb-news-article-date {
  align-self: flex-start;
  width: 100%;
  height: 20px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Nb of comments */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-details
  .mb-news-article-comments {
  width: 100%;
  height: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-details
  .mb-news-article-comments
  svg {
  fill: var(--details);
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article:hover
  .mb-news-article-details
  .mb-news-article-comments
  svg {
  fill: var(--details-hover);
  transition: fill 0.5s;
}

/* Title */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Farro', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  width: 100%;
  height: 100% !important;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article:hover
  .mb-news-article-title {
  color: var(--text-hover) !important;
  transition: color 0.5s;
}

/* Article content (excerpt) */
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article
  .mb-news-article-content {
  font-family: 'Farro', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text) !important;
  padding: 0 20px 20px 20px;
}
.widget_mb-news_widget
  .mb-news
  .slick-carousel
  .mb-news-article:hover
  .mb-news-article-content {
  color: var(--text-hover) !important;
  transition: color 0.5s;
}
